.body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2A2A2A !important;
}

body {
  --fonte-primaria: var(--type-first-montserrat), 'sans-serif';
  --fonte-secundaria: var(--type-first-dashboard), 'sans-serif';
}

body,
h1,
h2,
h3,
p,
span {
  margin: 0px;
  padding: 0px;
  color: black;
}


li,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}



.btn_buy {
  width: 204px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 70px;
  background: linear-gradient(to right, #EECF28, #EF9C20);
  box-shadow: 0 0 17px 0 #EF9C20;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  animation: vaievem .8s infinite alternate ease-in-out ;
}
.btn_buy:hover {
  opacity: 0.9;
}

@keyframes vaievem {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.0);
  }
}