.body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171717 !important;
}

body {
  --fonte-primaria: var(--type-first-montserrat), 'sans-serif';
  --fonte-secundaria: var(--type-first-dashboard), 'sans-serif';
}

body,
h1,
h2,
h3,
p,
span {
  margin: 0px;
  padding: 0px;
  color: black;
}


li,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
