.ContentView {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: calc(100% - 32px);
    margin: 0 auto;
    padding-bottom: 32px;
    background-color: #505050;
    margin-top: 12px;
    box-sizing: border-box;
    max-width: 500px;

}
.midias {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 12px;
    box-sizing: border-box;
    gap: 16px;
}

.midias img {
    width: 100%;
    object-fit: cover;
    border: 1px solid white;
}
.image_model {
    position: relative;
    cursor: pointer;
}

.image_model::after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    background: url('../../../public/lock.svg') no-repeat center center;
    transform: translate(-50%, -50%);
}

.image_model.liberado::after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    background: url('../../../public/play.svg') no-repeat center center;
    transform: translate(-50%, -50%);
}
.image_model::after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    background: url('../../../public/lock.svg') no-repeat center center;
    transform: translate(-50%, -50%);
}
.nome {
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.fechar {
    position: fixed;
    right: 32px;
    top: 32px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    z-index: 10000;
    cursor: pointer;
}
.background {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 100;
}

.proximo {
    position: fixed;
    z-index: 1000;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
    font-weight: 700;
    font-size: 24px;
    color: white;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: #505050;
    cursor: pointer;
}
