.perfil_model {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-top: 2px;
    position: relative;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 8px;
}

.perfil_model.ativo {
    padding-bottom: 0px;
}
.perfil_model img{
    width: 100%;
    height: 100%;
    min-height: 110px;
    min-width: 110px;
    box-sizing: border-box;
    border-radius: 9999px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    padding: 3px;
}

.borda {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 100;
    border-radius: 9999px;
}
.image_div {
    width: 110px;
    height: 110px;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 9999px;
}
.image_div::after {
    content: '';
    display: block;
    width: 103%;
    height: 103%;
    position: absolute;
    background: linear-gradient(#D300C5 0%, #D602AD 13%, #FF0A61 48%, #FFA910 77%, #FFC700 100% );
    top: 0px;
    left: 0px;
    border-radius: 9999px;
    z-index: -1;
}

.perfil_model.ativo .image_div::after {
    background: rgba(100, 100, 100, 0.6);
}

.nome {
    z-index: 10000;
    color: white;
    text-align: center;
}
.circle1 {
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    transform: rotate(0deg), translate(-50%,0);
    width: 10px;
    height: 120px;
    background: black;
    transition: all .4s;
    animation: spin 2s linear ;
}
.circle2 {
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    width: 10px;
    transform: rotate(45deg), translate(-50%,0);
    height: 120px;
    background: black;
    transition: all .4s;
    animation: spin 2s linear ;
}
.circle3 {
    display: block;
    position: fixed;
    top: 0;
    left: 50%;
    width: 10px;
    height: 120px;
    background: black;
    transition: all .4s;
    transform: rotate(77deg), translate(-50%,0);

    animation: spin 2s linear ;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
        width: 10px;
    }
    100% {
        transform: rotate(360deg);
        width: 100px;
    }
}


